.banar{
    height: 674px;
    background-image: url(/assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banar-parent{
   height: 379px;
}
.banar-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16;
    text-align: center;
}