.banar{
    height: 674px;
    background-image: url(/assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banar-parent{
   height: 379px;
}
.banar-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}
.banar-info .banar-btn-1 button{
   padding: 8px 12px 8px 34px;
   border-radius: 1000px;
    color: #30B868;
    border: none;
}
.banar-tittle{
    font-size: 30px;
}
.banar-tittle span{
    color: #30B868;
}
.banar-btn button{
    max-width: 251px;
    height: 52px;
    color: white;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
}